.div-tout-right-left{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.div-right{
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}
.divcard{
    display: flex;
    flex-direction: row;
    justify-content:space-between;

}
.divcard input{
    width: 20px;
    height: 20px;
    align-self: flex-end;
}
.div-card-card{
    align-self: flex-start;
}
.divcard button{
    background-color: black;
    color: #fff;
    border-radius: 10px;
    border: none;
    width: 20%;
    font-size: large;
    height: 90%;
}
.div-choix{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.div-menu{
    align-items: center;
}
.div-choix img{
    width: 100%;
    height: 70%;
}
.divider{
    height: 80px;
}
.div-card{
        padding-top: 20px;
        padding-bottom: 20px;
        margin: auto auto;
        display: grid;
        justify-content: center;
        border: none;
        border-radius: 7px;
        box-shadow: 2px 5px 29px -9px rgba(0,0,0,0.8);
        -webkit-box-shadow: 2px 5px 29px -9px rgba(0,0,0,0.8);
        -moz-box-shadow: 2px 5px 29px -9px rgba(0,0,0,0.8);
}

.div-left{
        padding-top:10px;
        width: 70%;
        padding-bottom: 10px;
        margin: auto auto;
        display: grid;
        border-radius: 7px;
        border: none;
        box-shadow: 2px 5px 29px -9px rgba(0,0,0,0.8);
        -webkit-box-shadow: 2px 5px 29px -9px rgba(0,0,0,0.8);
        -moz-box-shadow: 2px 5px 29px -9px rgba(0,0,0,0.8);
        justify-content: space-around;
}

.left-card-title{
    margin-bottom: 16px;
}

.total{
    margin: 16px 0;
    display: flex;
    justify-content: space-between;
}

.cart-items .cart-item{
    margin: 17px 0;
}



.div-left button{
    background-color: rgb(57, 55, 55);
    color: #fff;
    border-radius: 7px;
    width: 100%;
    height: auto;
}

button.valider{
    padding: 10px;
    width: 100%;
    cursor: pointer;
    background-color: black;
}

button.valider:hover{
    background-color: #242222;
}
.div-left h2{
    height: 70px;
}
.div-menu label{
    font-weight: bold;
}
.div-left input h4{
    justify-items: center;
}
.div-menu{
    display: flex;
    justify-content: space-around;
    
}

