*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}
nav .menu-hamburger{
    display: none;
}
@media (max-width: 760px){
    nav .menu-hamburger{
        display: block;
        width: 30px;
    }

    .nav_links {
        position:fixed;
        right: 0;
        top: 12vh;
        height: 27vh;
        width: 27vh;
        display: none;
        padding: 15px;
        justify-content:space-between;
        flex-direction: column;
        background-color: #000;
    }
    .mobile-menu {
        display: flex;
    }
    .nav_links ul{
        display: flex;
        flex-direction: column;
    }
    
}
header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 1% ;
    background-color: #000;
}

.logo{
    height: 100px;
    width: 100px;
    align-self: flex-start;
}
li,a{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffff;
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-around;
    padding: 1px 5%;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a {
    color: #ffff;
    padding: 0.5rem;
    width: 20px;
}
.nav_links a:hover{
	background: #B92E0F;
	color: #000;
	box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
	border-radius: 4px;
}
.deuxieme{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.div-image{
    margin: auto auto;
    justify-content: center;
    padding-top: 30px;
    width: 80%;
    height: 10%;
    border-radius: 10px;

}
.div-image img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    /* max-width: 400px; */
}


.deuxieme p {
    color:#867F6F;
    padding-left:50px ;
    padding-right:50px ;
    padding-top: 3%;
    text-align: center;
}
.p1{
    font-size: large;
}
.p2{
    font-size: small;
}
.center-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding:15px;
}
.center-img img{
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
	border-radius: 4px;
    height: 60px;
    width: 60px;
    padding: 5px;
}
.image{
    
    width: 100%;
    border-radius: 10px;
}
.deuxieme input{
        border: none;
        width: 200px;
        margin: 15px;
        border-radius: 20px;
        background-color: #D9D9D9;
}
.deuxieme .lign{
    height: 1%;
    width: 80%;
    padding: 3px;
    background-color: #D9D9D9;
    border-radius: 4px;
}



.troisieme{
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 50px;
    height: 400px;
}


.troisieme-div{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 20px;
}


.tr-img{
    width: 100%;
}

.tr-img img{
    width: 90%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.troisieme-div input{
    background-color: #ffff;
    color:#867F6F ;
}



.quatrieme{
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px, 1fr));
    color: white;
    gap: 10px;
    padding: 1em;
    justify-content: center;
    align-items: center;
}


.qrt-img{
    width: 80%;
    margin: auto ;
}
.qrt-img img{
    width: 100%;
}

.cinq h2{
    text-align: center;
}


.quatrieme input{
        background-color: #000;
        color:#867F6F ;
}

.quatrieme-div{
    width: 80%;
    margin: auto;
}

@media (max-width:888px) {
    .tr-img{
        width: 100%;
        height: 300px;
    }
    .troisieme{
        display: grid;
        height: 100%;
        justify-content: center;

    }
    .troisieme img{
        width: 100%;
        /* height: 30%; */
    }
}
.cinq{
    display: flex;
    flex-direction: column;
}

.img-trouv{
    width: 90%;
    margin: auto;
}
.trouv{
    display: grid;
    justify-content: center;
    align-items: center;

    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
}

.trouv .two{
    width: 80%;
    margin-left: 10%;
    display: grid;
    justify-content: center;
    /* text-align: center; */
    margin-bottom: 50px;
}
#contact{
    background-color: #000;
    color:#ffff;
    display: flex;
    flex-direction: column;

 }

 .send form{
     max-width: 100%;
     width: 450px;
     position: relative;
 }
 .send form input:first-child{
     display: inline-block;
     width: 100%;
     padding: 20px 150px 20px 30px;
     box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
     outline: none;
     border: none;
     border-radius: 15px;
 }
 .send form input:last-child{
     display: inline-block;
     position: absolute;
     outline: none;
     border: none;
     padding: 14px 30px;
     border-radius: 15px;
     background: #B92E0F;
     color: #fff;
     top: 6px;
     right: 6px;
     cursor: pointer;
 }
 ul{
     list-style-type:none;
 }
 .propos{
    padding: 2px 33px;
    margin: 10px;
    cursor: pointer;
    border-radius: 20px;
    background-color: #D9D9D9;
    border: none;
 }
 .contact{
    padding: 2px 2px;
    margin: 10px;
    background-color: #000;
    color: #867F6F;
    width: 30%;
    border: 2px;
    cursor: pointer;

 }
 .decouvez{
    padding: 2px 2px;
    margin: 10px;
    width: 50%;
    cursor: pointer;
    border-radius: 20px;
    background-color: #D9D9D9;
    border: none;
 }
 
 .footer{
     padding: 20px 2px;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
 }
 .list{
     width: 30%;
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
 }
 .list ul{
    display: flex;
    flex-direction: column;
 }
 .list h4{
     font-size: 21px;
     color: #fff;
     margin-bottom: 30px;
     position: relative;
 }
 .list h4::before{
     content: "";
     position: absolute;
     height: 2px;
     width: 60px;
     left: 0;
     bottom: -10px;
     background: #fff;
 }
 .list ul li:not(last-child) {
     margin-bottom: 16px;
 }
 .send .list ul li a{
     color: #ffffffbf;
     font-size: 1.1rem;
     display: block;
     transition: .3s;
 }
 .list ul li a:hover{
     color: #fff;
     transform: translateX(14px);
 }
 .list-div .social a{
     height: 40px;
     width: 40px;
     background: #fff;
     color: #B92E0F;
     display: inline-flex;
     align-items: center;
     justify-content: center;
     font-size: 21px;
     border-radius: 15px;
     transition: .3s;
     margin-right: 10px;
 }
 .list-div .social a:hover{
     transform: scale(1.1);
 }
 
 .end-text{
     text-align: center;
     padding-top: 90px;
 }
 .end-text p{
     color: #fff;
     font-size: 14px;
     letter-spacing: 2px;
 }
 #send{
     grid-area: send;
     color: #fff;
     background-color: #B92E0F;
 }
 #email{
     grid-area: email;
 }
 

 @media (max-width:740px) {

    
    #contact{
        background-color: #000;
        color:#ffff;
        display: flex;
        flex-direction: column;
        
    }    
    .footer{
        padding: 20px 2px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
    .list{
        width: 30%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-bottom: 25px;
    }

    .list-div {
        padding-bottom: 25px;
    }
}

